h1{
    text-align: center;
}


.questionnaire{
    padding-top: 5%
}
#numero{
    height: 10%;
    width: 30%;
    text-align: center;
}

body{
    background: bisque;
}

#again{
    display: none;
    text-align: center;
    margin-left: 46%;
}

div{
    text-align: center;
}

#question{
    height: 30%;
    width: 30%;
    text-align: center;
}

table{
    margin: 0 auto;
}


#rep1, #rep2, #rep3, #rep4, #numero, #question{
    border: 1px solid black;
    height: 10%;
    width: 40%;
    background-color: blanchedalmond;
}

.reponse{
    padding-bottom: 5%;
}



form{
    text-align: center;
}