
h1{
    text-align: center;
}


.questionnaire{
    padding-top: 5%
}
#number{
    height: 10%;
    width: 30%;
    text-align: center;
}

body{
    background: bisque;
}

div{
    text-align: center;
}

#question{
    height: 30%;
    width: 30%;
    text-align: center;
}

table{
    margin: 0 auto;
}

th{
    border: 1px solid black;
}

.questionnaire{
    display: none;
}

#rep1, #rep2, #rep3, #rep4{
    background-color: blanchedalmond;

}

.answer{
    padding-bottom: 5%;
}

.menu{
    margin: 0%;
    padding: 0%;
    display: inline;
    list-style: none;
    margin-left: 15%;
}

nav li{
    display: inline-block;
    width: 10%;
    height: 3%;
    margin: 0%;
    padding: 0%;
    text-align: center;
    padding-left: 17%;
}


input[type=image]{
    text-align: center;
    padding-top: 10%;
    width: 15%;
    outline: 0;
}

#category-form{
    text-align: center;
    outline: 0;
}

#valider{
    display: none;
    margin: auto;
    margin-top: 10%;
}
.category-button{
    background-color: transparent;
    border-color: transparent;
    outline: 0;
}
